node_modules
dist
build
.vscode
.env
.DS_Store
npm-debug.log
yarn-error.log
yarn-debug.log
.idea
*.iml
*.log
package-lock.json
yarn.lock
.vs
coverage
.cache
.next
out
*.local
*.tsbuildinfo
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.sublime-workspace
*.sublime-project
*.code-workspace
*.history
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
.vscode-test
.vscode-oss-test
.history
*.pem
*.crt
*.key
*.pfx
*.cer
*.der
